
header{ 
    grid-area: header;
    background-color: #023047;
    color: #FFB703;
    border-bottom: 5px solid #219EBC;
    font-family: 'Lato', sans-serif;
}

nav.menu {
    width: 90%;
}
nav.menu ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    font-size: 1.5em;
}

h1 {
    padding-left: 50px;
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
    
}

ul {
    list-style: none;
}

footer {
    grid-area: footer;
    background-color: #023047;
    color: #FFB703;
    border-top: 5px solid #219EBC;
    text-align: center;
}
