
.sidebar { 
    grid-area: sidebar;
    background-color: #023047;
    color: #FFB703;
    border-left: 5px solid #219EBC;
    margin: 0 auto;
}

.sidebar h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.list {
    line-height: 30px;
}

.side-button {
    display: block;
    max-width: 90%;
    min-width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0.25rem;
    background-color:   #219EBC;
    text-align: center;
    font-size: 1.5vw;
}

.side-button a {
    color:  #FFB703;
    font-weight: 600;
}